<html>
  <head>
    <%= stylesheet_tag 'application' %>
    <meta name="viewport" content="user-scalable=0;" />
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
